.counter {
    color: white;
    z-index: 999;
    padding: 10px;
    font-size: calc(7px + 2vmin);
    line-height: 1.5;
}

.counter__button--up, .counter__button--down {
    position: relative;
    outline: 0;
    margin: 10px;
    background-color: #4ED8FE;
    color: #2C2E37;
    border: 0;
    padding: 5px 10px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.disabled:after {
    content: 'disabled';
    position: absolute;
    top: 80%;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    background-color: gray;
    border-radius: 7px;
    opacity: 1;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}