.water-mark-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.water-mark-header__link {
    color: #61dafb;
}

.water-mark-header__logo-wrapper {
    height: 40vmin;
    width: 100%;
}

.water-mark-header__logo {
    height: 30px;
    transition: all 1.95s cubic-bezier(.41, -0.53, .2, 1.95);
}

.water-mark-header__text {
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
}